body {
  color: white;
  background-color: black;
}

a {
  color: white;
}

h2 {
  font-weight: 100;
}

ul {
  list-style: none;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

iframe {
  background-color: white;
}

#title {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 60px;
}

.block {
  margin: auto;
  width: 70%;
}

.block-content {
  background-color: #202020;
  padding: 50px;
}

.blog {
  display: flex;
  justify-content: center;
}

.lable {
  font-size: 15px;
  font-weight: 600;
}

.value {
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}

.indent{
  margin-left: 50px;
}

.foot{
  margin-top: 50px;
}