body {
  color: white;
  background-color: black;
}

a {
  color: white;
}

h2 {
  font-weight: 100;
}

#welcome_title {
  margin: auto;
  width: 100px;
}

.block {
  margin: auto;
  width: 70%;
  background-color: #202020;
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 20px;
}
